* {
  padding: 0%;
  margin: 0px;
  overflow-x: hidden;
  /* border: solid 1px black; */
}
.container {
  padding: 0%;
  margin: 0px 100px;
}

.header {
  overflow-y: hidden;
  padding: 10px 5px 0px 0px;
  height: 70px;
}
#logo {
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50px;
}
#is-selected {
  color: #0B34E5;
  font-weight: bold;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text_header {
  position: absolute;
  right: 100px;
  top: 0px;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
}
.text_header a {
  font-family: Roboto;
font-style: normal;
  text-decoration: none;
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  padding: 10px;
}
.title p {
  height: 707px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 115px;
  line-height: 172px;
  display: flex;
  align-items: center;
  color: #000000;
}
.description {
  padding: 150px 0px 150px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
.d-short {
  width: 600px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 135px;
  color: #000000;
}
.d-long {
  width: 526px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000000;
}

.footer {
  /* border: 2px green solid; */
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
.logo-footer {
  display: flex;
  align-items: center;
  align-content: center;
}
.logo-footer p {
  width: 287.19px;
  height: 97.49px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: #000000;
}
.logo-footer img {
  width: 125.81px;
  height: 122.52px;
}
.logo-github img {
  /* Este logotipo va a ir centrado con posision absolute */
  position: absolute;
  right: 650px;
  top: 1770px;
  width: 70px;
  height: 70px;
}
.tecnologias img {
  width: 312px;
  height: 131.24px;
}

#grad-14 {
  position: absolute;
  width: 1080px;
  height: 1080px;
  left: -40px;
  top: -200px;
  z-index: -1;
  background: url(/resourse/background/Grad_14.png);
  background-size: cover;
}

#grad-18 {
  position: absolute;
  width: 543px;
  height: 687px;
  right: 0px;
  top: 800px;
  transform: rotate(88deg);
  z-index: -1;
  background: url(/resourse/background/Grad_18.png);
  background-size: cover;
}
#grad-04 {
  position: absolute;
  width: 1440px;
  height: 200px;
  left: 0px;
  top: 1700px;
  z-index: -1;
  background: url(/resourse/background/Grad_04.png);
  background-size: cover;
}
